form(action="/paste", method="post", enctype="multipart/form-data")
    div Title:
        br
        input(type="text", name="pasted_title")
    div Paste text:
        br
        textarea(name="pasted_text")
        input(type="submit", name="submit_paste")