!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.heading
            h1
                a(href="/") #{title}
            p
                a(href="/upload") upload file
                span &nbsp;&bull; 
                a(href="/link") link shortener
                span &nbsp;&bull; 
                a(href="/paste") pastebin
                span &nbsp;&bull; 
                a(href="/about") about
            p
                a(href="/list/files") file list
                span &nbsp;&bull; 
                a(href="/list/links") links list
            h2= tagline
        div.main!= body
        div.copyright
            span dumploader &copy; 2012 
                a(href="http://master5o1.com") master5o1