!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.heading
            h1.title
                a(href="/") #{title}
            div.main-menu
                div.menu
                    a.first(href="/upload") Upload File
                    a(href="/paste") Paste Text
                    a(href="/link") Shorten URL
                    a(href="/about") About
            div.tagline
                h2= tagline
                div.list
                    a(href="/list/files") List Files
                    a(href="/list/links") List Links
        div.main!= body
        div.footer
            span
                a(href="https://github.com/master5o1/Dumploader/") git
                &nbsp;|
                a(href="/about") about
                span.copyright dumploader &copy; 2012 
                    a(href="http://master5o1.com") Jason Schwarzenberger