div.linkform
    form(action="/link", method="post", enctype="multipart/form-data")
        span Link URL:
        br
        input(type="text", name="link_url")
        input(type="submit", name="submit_link", value="Submit")
        if show_error == 'true'
            div.error #{error}