div.site
    h3 About Dumploader
    p Dumploader is a file-uploading and pasting service. It is modelled after  
        a(href="http://omploader.org") Omploader
        | .
    h3 License
    p Copyright (c) 2012 
        a(href="http://master5o1.com/") Jason Schwarzenberger
        br
        | Dumploader is licensed under the 
        a(href="http://www.gnu.org/licenses/agpl-3.0.html") GNU Affero General Public License version 3
        | .
        br
        | Source code is available on 
        a(href="https://github.com/master5o1/Dumploader/") github
        | .
        
    h3 Requirements
    ul
        li Node.js (0.6.13)
        li MongoDB (Shell version is 2.0.2)
        li Express (2.5.8)
        li Mongolian DeadBeef (0.1.17)
        li ImageMagick (0.1.2)
        li Jade (0.22.0)
        li Passport (0.1.10)
        li Passport-Google (0.2.0)
        li Passport-Local (0.1.3)
