div.site
    h3 About Dumploader
    p Dumploader is a file-uploading and pasting service. It is modelled after and loosely clones 
        a(href="http://omploader.org") Omploader
        .
    h3 License
    p Copyright (c) 2012 
        a(href="http://master5o1.com/") Jason Schwarzenberger
        br
        | Dumploader is licensed under the GNU Affero General Public License version 3.
        br
        | License text: 
        a(href="http://www.gnu.org/licenses/agpl-3.0.html") http://www.gnu.org/licenses/agpl-3.0.html
        
    h3 Requirements
    ul
        li Node.js (0.6.13)
        li MongoDB (Shell version is 2.0.2)
        li Express (2.5.8)
        li Mongolian DeadBeef (0.1.17)
        li ImageMagick (0.1.2)
        li Jade (0.22.0)